

/***********Navbar*************/

.navbar-default {
  background-color: #5bc0de;
  border-color: #326ada;
  background-image: none;
  background-repeat: no-repeat;
 }
.nav.navbar-nav.navbar-right>li>a, .navbar>.container>.row>.col-xs-1>a.navbar-brand{
	color: #fff;
}

a:hover, .nav.navbar-nav>li>a:hover{
	background-color: #000;
}

.navbar-toggle{
	background-color: #a19c9c;
	border-color: #d2d2d2;
}

.nav.navbar-nav.middle-section{
	margin-right: -30px;
}


/***********About*************/

.jumbotron.about-section{
	background-color: #428bca;
}


.circle-image{
	position: relative;
    width:300px;
    height:300px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    background-position-y:25%;
    border-color: #f00;
    border-radius:50%;
    background-image:url("http://placekitten.com/g/200/400");
}

p {
    color: #fff;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    width:auto;
    display:table;
}

/**Projects-Section**/
.jumbotron.projects-section, .jumbotron.skills-section{
    background-color: #fff;
    padding-top: 0%;
    padding-bottom: 0%;
}

h1.text-center {
    color: #428bca;
}

.row>.col-xs-6.col-md-4{
    text-align: center;
}

.row>.col-xs-6.col-md-4.left-one{
    
}

.row>.col-xs-6.col-md-4.center-one{
    
}

.row>.col-xs-6.col-md-4.right-one{
    
}